.privacy-policy {
    padding: 2.5rem 1.25rem;
    background-color: #ebebea;
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
    height: 100vh;
    font-family: var(--primaryFont);
    height: 100vh;
}

.privacy-policy .container {
    max-width: 50vw;
    margin: 0 auto;
}

.privacy-policy h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    font-weight: bold;
    color: #823ae0;
}

.privacy-policy h2 {
    font-size: 1.3rem;
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
    font-weight: bold;
    color: #823ae0;
}

.privacy-policy p {
    margin-bottom: 1rem;
}

.privacy-policy a {
    color: #823ae0;
    text-decoration: none;
}

.privacy-policy a:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .privacy-policy .container {
        max-width: 70vw;
    }
}

@media (max-width: 400px) {
    .privacy-policy .container {
        max-width: 80vw;
    }
}



